html{
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


body{
    margin: 0;
    background-color: rgb(58, 67, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;

}

p{
    font-size: 17px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Bebas Neue', cursive;
}

a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.navegacion{
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(34, 33, 33);
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.navegacion__cliente{
    color: white;
    margin-right: 50px;

}

.navegacion__cliente:hover{
    color: rgb(146, 86, 86);
}



.aside-paginas{
    text-decoration: none;
    font-size: 20px;
    color: royalblue;
    display: grid;
    grid-template-columns: 1fr;
    background-color: salmon;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

h1{
    background-color: rgb(194, 128, 128);
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-size: 19px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}


img{
    max-width: 100%;
}

.contenedor{
    margin: 10px auto;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contenedor p{
    margin-bottom: 100px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Bebas Neue', cursive;
}

.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.interno{
    background-color: rgb(238, 237, 237);
    padding: 10px;
}

.aside{
    background-color: rgb(192, 188, 188);
    padding: 10px;
    height: 800px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer p{
    font-size: 20px;
}

/*GRID*/

@media (min-width: 768px) {

    .contenedor-grid{
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 30px;
    }


}
